@charset "UTF-8";
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/Century_Gothic_Bold-webfont.eot');
  src: url('../fonts/Century_Gothic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Century_Gothic_Bold-webfont.woff2') format('woff2'),
       url('../fonts/Century_Gothic_Bold-webfont.woff') format('woff'),
       url('../fonts/Century_Gothic_Bold-webfont.ttf') format('truetype'),
       url('../fonts/Century_Gothic_Bold-webfont.svg#century_gothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.pointer{
    cursor: pointer;
}
.creditos{
    font-family: 'Century Gothic'  !important ;
    font-weight: 400 !important;
    text-align: left !important;
    font-size: 14px !important;
    color: #676767 !important;
}
.creditos p{
    display: flex;
    flex-direction: column;
}
.container_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.text{
    font-family: 'Century Gothic'  !important ;
    color: black !important;
    font-size: 14px !important;
    padding: 0 20% 0 20% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alert{
    font-family: 'Century Gothic'  !important ;
    color: #FFF !important;
    font-size: 14px !important;
    padding: 0 10% 0 10% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -40px;
}
.alert h1{
    color: #FFF !important;
    font-size: 50px !important;
}
.alert p{
    text-align: center !important;
    font-size: 15px;
    margin-top: -20px;
}